service cloud.firestore {
  match /databases/{database}/documents {
    match /shopping-list/{shoppingListId} {
      function is_owner(resource) {
        return request.auth.uid in resource.data.owner_uids;
      }

      allow create: if request.auth.uid != null && is_owner(request.resource);
      allow read: if is_owner(resource);

      match /items/{itemId} {
        allow read, create, update, delete: if is_owner(get(/databases/$(database)/documents/shopping-list/$(shoppingListId)));
      }

      match /events/{eventId} {
        allow read, create: if is_owner(get(/databases/$(database)/documents/shopping-list/$(shoppingListId)));
      }
    }
  }
}
